@model List<StudentModel>
@{
    ViewData["Title"] = "Student list";
}

<h2>All students</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Surame</th>
        <th>Birthdate</th>
        <th>Class</th>
        <th>Average</th>
        <th>View student marks</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Name</td>
            <td>@student.Surname</td>
            <td>@student.Birthdate?.ToString("MM/dd/yyyy")</td>
            <td>@student.Class</td>
            <td>@student.Average.ToString("0.00")</td>
            <td><a asp-controller="Student" asp-action="View" asp-route-name="@student.Name" asp-route-surname="@student.Surname">View</a></td>
        </tr>
    }
</table>

