@model List<MarkModel>
@{
    ViewData["Title"] = "Marks list";
}

<h2>All marks</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Surame</th>
        <th>Subject</th>
        <th>Mark</th>
        <th>Description</th>
        <th>View student marks</th>
    </tr>

    @foreach (var mark in Model)
    {
        <tr>
            <td>@mark.Name</td>
            <td>@mark.Surname</td>
            <td>@mark.Subject</td>
            <td>@mark.Mark</td>
            <td>@mark.Description</td>
            <td><a asp-controller="Student" asp-action="View" asp-route-name="@mark.Name" asp-route-surname="@mark.Surname">View</a></td>
        </tr>
    }
</table>

